.container {
  width: 100px;
  height: 100px;
  background-color: rgb(53, 194, 18);
  color: white;
  border-radius: 50%;
  margin: 0;
  font-size: 30px;
  border: 1px solid rgb(19, 33, 51);
}
.line {
  width: 200px;
  height: 20px;
  background-color: red;
  border-radius: 8px 8px;
}

.line2 {
  width: 200px;
  height: 20px;
  background-color: red;
  margin: 100px 210px;
  border-radius: 8px 8px;
}
.line3 {
  width: 200px;
  height: 20px;
  background-color: red;
  margin: 130px 420px;
  border-radius: 8px 8px;
}

.line4 {
  width: 180px;
  height: 20px;
  background-color: red;
  margin: 130px 620px;
  border-radius: 8px 8px;
}
b {
  display: flex;
  text-align: center;
  padding: 20px auto; 
}
